@page

@model BackendProj.Pages.AccountPageModel
@{
    ViewData["Title"] = "Home page";
    if (Model.user.role == 0)
        Layout = "_Layout";
    else
        Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device=width" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/calendar.css" />
    <script type="text/javascript" src="~/js/calendar.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <style>
        body{
            font-family:Montserrat;
        }
        textarea {
            resize: none; /* Запрещаем изменять размер */
            width:400px;
            height:120px;
        }
        .classs{
            margin-left:15px
        }
    </style>
</head>

<body>
    <table>
    <tr >
        <td><p><img class="imgStyle" align="left" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.user.Data.Image))" width="200" height="250" /> </p></td>
        <td>
                <p><h1 class="classs">@Model.user.Data.FIO</h1></p>
                <p><h3 class="classs">О себе</h3></p>
                <form method="post">
                    <p class="classs" style="width:600px; height:120px">
                        <textarea rows="5" cols="50" resize"="none" name="about" id="about" style="visibility:hidden; height:0px">@Model.user.Data.About</textarea>
                        <label style="visibility:visible;" id="Label">@Model.user.Data.About</label>
                    </p>
                <p class="classs">
                        <input class="ButtonStyle" onclick="ChangeAbout()" id="Change" type="button" value="Изменить" style="visibility:visible" />
                        <input class="ButtonStyle" id="Save" type="submit" value="Сохранить" style="visibility:hidden" />
                    </p>
                </form>
        </td>
    </tr>
    <tr>
        <div id="date8" style="position: relative; top: 10%; right: -30%" ></div>
        <style>#cssworldru8{position: absolute}</style>
        <script>
            xCal("date8", {
            id: "cssworldru8", // Set a unique ID
            "class": "xcalend", // CSS class defines the appearance of the caledar
            hide: 0, // Do not hide the calendar
            x: 0, // Disable calendar closure button
            autoOff: 0, // Disable auto-hide
            to: "date8", // Place a calendar inside an element with an id=date8
            fn: "" // Call the function with the specified name, the selection result will be transferred to it
            });
        </script>
    </tr>
    </table>
    <p> <h3>Дата рождения</h3></p>
    <ul><li>@Model.user.Data.Birthday</li></ul>
    <p> <h3>Образование</h3></p>
    <ul><li>@Model.user.Data.Education</li></ul>
    <p> <h3>Должность</h3></p>
    <ul><li>@Model.user.Data.Doljnost</li></ul>
    <p> <h3>Дата приема</h3></p>
    <ul><li>@Model.user.Data.DateOfEmploy</li></ul>
    <p> <h3>Опыт работы</h3></p>
    <ul><li>@Model.user.Data.Experience лет</li></ul>
</body>
</html>
