@page
@model BackendProj.Pages.EditorPageModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device=width" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/calendar.css" />
    <script type="text/javascript" src="~/js/calendar.js"></script>
    <style>
        body {
            font-family: Montserrat;
        }

        .about {
            resize: none; /* Запрещаем изменять размер */
            width: 400px;
            height: 120px;
        }
        textarea
        {
            resize:none
        }
        .classs {
            margin-left: 15px
        }
    </style>
</head>

<body>
    <form method="post">
    <table>
        <tr>
            <td><p><img align="left" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.user.Data.Image))" width="200" height="250" /> </p></td>
            <td>
                <p><textarea rows="1" cols="45" resize"="none" name="fio">@Model.user.Data.FIO</textarea></p>
                <p><h3 class="classs">О себе</h3></p>
                <p class="classs"><textarea class="about" rows="5" cols="45" resize"="none" name="about">@Model.user.Data.About</textarea></p>
            </td>
        </tr>
    </table>
    <p> <h3>Логин</h3></p>
    <ul><li><textarea rows="1" cols="67" resize"="none" name="Login">@Model.user.login</textarea></li></ul>
    <p> <h3>Пароль</h3></p>
    <ul><li><textarea rows="1" cols="67" resize"="none" name="Password">@Model.user.password</textarea></li></ul>
    <p> <h3>Роль</h3></p>
    <ul><li><textarea rows="1" cols="67" resize"="none" name="Role">@Model.user.role</textarea></li></ul>
    <p> <h3>Дата рождения</h3></p>
    <ul><li><textarea rows="1" cols="67" resize"="none" name="birthD">@Model.user.Data.Birthday</textarea></li></ul>
    <p> <h3>Номер телефона</h3></p>
    <ul><li><textarea rows="1" cols="67" resize"="none" name="phone">@Model.user.Data.PhoneNumber</textarea></li></ul>
    <p> <h3>Образование</h3></p>
    <ul><li><textarea rows="1" cols="67" resize"="none" name="educ">@Model.user.Data.Education</textarea></li></ul>
    <p> <h3>Должность</h3></p>
    <ul><li><textarea rows="1" cols="67" resize"="none" name="doljn">@Model.user.Data.Doljnost</textarea></li></ul>
    <p> <h3>Дата приема</h3></p>
    <ul><li><textarea rows="1" cols="67" resize"="none" name="date">@Model.user.Data.DateOfEmploy</textarea></li></ul>
    <p> <h3>Опыт работы</h3></p>
    <ul><li><textarea rows="1" cols="67" resize"="none" name="exp">@Model.user.Data.Experience</textarea></li></ul>
        <td><input class="ButtonStyle" type="submit" value="Сохранить" name="save"/></td>
        <td><input class="ButtonStyle" type="submit" value="Удалить" name="delete"/></td>
    </form>
</body>
</html>
