@page
@model BackendProj.Pages.ExtraEducationsPageModel
@{
    ViewData["Title"] = "Дополнительные курсы";
    if (Model.user.role == 1)
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<!DOCTYPE html>

<html>
<head>
        <meta name="viewport" content="width=device=width" />
        <link rel="stylesheet" href="~/css/Style.css"/>
        <link rel="stylesheet" href="~/Layout.cshtml.css"/>
</head>
<body>
    <form method="post">
    <table>
    <tr style="position:relative">
    <td style="position: absolute; margin-left: 80px; overflow: auto">
    <h5>Все курсы</h5>
    @foreach(var dbElem in Model.educations)
    {
        <ul>
        <li class="liStyle"><h5 class="listHeader">@dbElem.Theme</h5>
        <h6 class="listBody">@dbElem.Description</h6>
        <h6 class="listBody">@dbElem.Duration</h6>
        @if(!Model.user.ExtraEducationsList.Contains(dbElem.Id.ToString())){
           <label class="ButtonStyle">
                <input value="@dbElem.Id" asp-page-handler="Add" type="submit" name="educationId">
                Записаться
           </label>
        }
        </li>
        </ul>
    }
    </td>
    <td style="position:absolute; margin-left: 800px; overflow: auto">
    <h5>Мои курсы</h5>
    @foreach(var userElem in Model.usersEducations)
    {
        <ul>
        <li class="liStyle"><h5 class="listHeader">@userElem.Theme</h5>
        <h6 class="listBody">@userElem.Description</h6>
        <h6 class="listBody">@userElem.Duration</h6>
        <label class="ButtonStyle">
            <input value="@userElem.Id" asp-page-handler="Delete" type="submit" name="educationId">
            Отписаться
        </label>
        </li>
        </ul>
    }
    </td>
    </tr>
    </table>
    </form>
</body>
</html>